.header{
	display: flex; /* contexte sur le parent */
	margin:40px 10px;
	
}

.header .logo{
	 margin: auto
}

.header ul{
	list-style-type: none; 
	font-family: 'Playfair Display', serif;
	 margin: auto;

}

.header ul li{
	 display:inline;
	 padding-left:6em; /* Pour espacer les boutons entre eux */
}

.contenu{
	max-width:900px;
	margin:auto;
}

.margeContenu{
	margin:50px 0;
}

.textAlignCenter{
	text-align:center;
}

.inputTextNewsletter{
	width:300px;
	display:block;
	margin:auto;
}



.simple-subscription-form .button {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
  background-color:#626262;
}

.backgroundNewsletter{
	padding:10px 0 30px 0;
	background-color:lightgrey;
}

.loadMoreButton {
	color:#626262;
	border:1px solid #626262;
	padding:15px;
	display: block;
	margin :0 auto 80px;
}

.backgroundFooter{
	display: flex;
    justify-content: space-between;
	padding:20px 0 10px 20px;
	background-color:lightgrey;
}

h1{
	color:#626262;
	font-family: 'Playfair Display', serif;
	font-weight:normal;
	font-size:30px;
	margin:20px 0;
}

h2{
	color:#b4ad9e;
	font-family: 'Playfair Display', serif;
	font-weight:normal;
	font-size:10px;
	margin:20px 0;
}

.texte{
	color:#626262;
	font-family: 'Ubuntu', sans-serif;
	text-align: justify;
}
