.header{
	margin:40px 10px;

}

.header .logo{
}

.header ul{
	font-family: 'Playfair Display', serif;
	float:right;
}

.header ul li{
	 padding-left:4em; /* Pour espacer les boutons entre eux */
}

.header ul li a{
	color:#626262;
}

.margeContenu{
	margin:50px 0;
}

.imagePrincipale {
	width:100%;
}

.textAlignCenter{
	text-align:center;
}

.inputTextNewsletter{
	width:300px;
	display:block;
	margin:auto;
}

.simple-subscription-form .button {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
  background-color:#626262;
}

.backgroundGrey{
	padding:10px 0 30px 0;
	background-color:lightgrey;
}

.loadMoreButton {
	color:#626262;
	border:1px solid #626262;
	padding:15px;
	display: block;
	margin :0 auto 80px;
}

.barShare {
	float:right;
	margin-bottom:30px;
}

.backgroundFooter{
	display: flex;
    justify-content: space-between;
	padding:20px 0 10px 20px;
	background-color:lightgrey;
}

h1{
	color:#626262;
	font-family: 'Playfair Display', serif;
	font-weight:normal;
	font-size:30px;
	margin:20px 0;
}

h2{
	color:#b4ad9e;
	font-family: 'Playfair Display', serif;
	font-weight:normal;
	font-size:10px;
	margin:20px 0;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	font-weight:bold;
}

h4{
	color:#b4ad9e;
	font-family: 'Playfair Display', serif;
	font-weight:normal;
	font-size:10px;
	margin:10px 0 20px;
}

.texte{
	color:#626262;
	font-family: 'Ubuntu', sans-serif;
	text-align: justify;
}

.petitH1{
		font-size:20px;
}

.h2Inline{
	display:inline;
}

.couleurLien{
	color:#626262;
}

.couleurButton{
  background-color:#626262;
}

.comment-section-container {
  background-color: #fefefe;
  padding: 1rem;
}

.comment-section-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.comment-section-author .comment-section-name {
  margin-left: 1rem;
}

.comment-section-author .comment-section-name p {
  margin-bottom: 0;
}

.comment-section-box {
  background-color: white;
  padding: 1rem;
}


